* {
  box-sizing: border-box;
}
:host {
  display: block;
}
nav {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  h1 {
    color: white;
  }
}
img {
  max-width: 100%;
}

button {
  font-size: 7vw;
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: 1px solid black;
}
